*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    align-items: flex-start;
}

#logo-container {
    text-align: center;
}

#sidebar-container {
    /* width: 200px; */
    background-color: rgba(0,0,0,0.2);
    padding: 10px;
    flex: 1;
    height: 97dvh;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
}

#menu-container{
    margin-top: 50px;
}

ul#menu-list {
    list-style: none;
}

.menu-item {
    cursor: pointer;
    margin: 7px 0;
    padding: 7px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}
.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.menu-item.active {
    background-color: rgb(255, 32, 78, 0.9);
}

.toggle{
    display: none;
}

@media screen and (max-width: 768px) {
    body{
        height: auto;
        min-height: 100dvh;
    }
    #sidebar-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
        transition: all 0.5s ease;
        transform: translateX(-300px);
    }

    #sidebar-container.active{
        transform: translateX(0px);
    }

    .toggle{
        position: fixed;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: rgb(255, 32, 78);
        cursor: pointer;
    }
}
/*====================*/
#main-container {
    flex-grow: 1;
    padding: 20px;
    flex: 5;
    min-height: 94dvh;
}
/*====================*/
.order-header{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 8px;
    backdrop-filter: blur(10px);
}

.order-header span{
    padding: 2px 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    border-radius: 15px;
}

.order-header span:hover{
    background-color: rgb(255, 32, 78, 0.9);
}

.order-header span.active{
    background-color: rgb(255, 32, 78, 0.9);
}

.order-detail-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    height: auto;
    /* overflow: auto; */
}

@media screen and (max-width: 768px) {
    
}

.item-container {
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    color: #fff;
    flex: 1 1 calc(35% - 10px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.item-container::before{
    content: attr(data-title);
    position: absolute;
    top: 0px;
    right: 0;
    padding: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0 10px 0 10px;
    backdrop-filter: blur(10px);
    text-transform: uppercase;
}

.item-container h2 {
    margin-top: 0;
    color: #fff;
}

.item-container form{
    margin-top: 10px;
}

.input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group label {
    display: block;
    color: #fff;
    font-size: 12px;
}

form input,
form select {
    padding: 5px 7px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    outline: none;
    margin-bottom: 5px;
}

.input-group input:disabled{
    cursor:not-allowed;
    background-color: rgba(0, 0, 0, 0.1);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

form button {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
}

form button:hover {
    background: rgb(255, 32, 78, 0.9);
}

.due-group{
    position: relative;
}

.due-group button{
    position: absolute;
    right: 0;
    top: 5px;
    padding: 4px 10px;
    border: none;
    background-color: transparent;
}
/*=======================*/
.home-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    row-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    position: relative;
    height: 50vh;
    transition: all 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
}

.card .bg-div{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    z-index: -1;
    box-shadow: 0px -3px 23px -4px rgba(0,0,0,0.3);
}

.card p {
    margin: 5px 0;
    color: #fff;
}

.info-container > div{
    padding: 10px 20px;
}

.info-container > div a{
    color: #fff;
}

.info-container .budget{
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 768px) {
    .home-container{
        grid-template-columns: 1fr;
    }
}
/*===================*/
.summary-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    font-size: 12px;
}

.projects-table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.2); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(10px); 
    color: #fff; 
    font-size: 11px;
}

.projects-table th, .projects-table td {
    padding: 6px 8px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Border for each cell */
}

.projects-table th {
    background: rgba(255, 255, 255, 0.05); /* Slightly transparent header background */
    color: #ccc; /* Header text color */
    font-weight: bold;
}

.projects-table td {
    background: rgba(255, 255, 255, 0.1); /* Slightly transparent cell background */
}

.projects-table tr:hover {
    background: rgba(255, 255, 255, 0.2); /* Highlight on hover */
}

.projects-table button {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.projects-table button i{
    color: rgb(255, 32, 78);
    transition: all 0.3s ease;
}

.projects-table .archiveBtn i{
    color: rgb(35, 244, 255);
    transition: all 0.3s ease;
}

.projects-table button:hover {
    background-color: rgb(255, 32, 78, 0.9);
}

.projects-table button:hover i{
    color: #fff;
}





@media screen and (max-width: 768px) {
    .projects-table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  .projects-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .projects-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .projects-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  .projects-table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .projects-table td:last-child {
    border-bottom: 0;
  }
}
/*============================*/
.coupon-container {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
}

.existing-coupons-container,
.addNew-container {
    flex: 1;
    width: 100%;
}


.existing-coupons-container ul {
    list-style: none;
    padding: 0;
}

.existing-coupons-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    font-size: 14px;
}

.existing-coupons-container li button {
    background: transparent;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

.existing-coupons-container li button:hover {
    background: #ff1a1a;
}

.addNew-container form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.addNew-container form input,
.addNew-container form select {
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .coupon-container {
        flex-direction: column;
    }
}
/*============================*/
/* General container styling */
.signIn-container {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Heading styling */
.signIn-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 400px;
}

/* Form element styling */
.signIn-container form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 400px;
}

/* Input fields styling */
.signIn-container form input[type="email"],
.signIn-container form input[type="password"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

/* Submit button styling */
.signIn-container form button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 32, 78, 0.5);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signIn-container form button[type="submit"]:hover {
    background-color: rgb(255, 32, 78);
}

/* Placeholder styling */
.signIn-container form input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 768px) {
    .signIn-container form {
        width: 80%;
    }
    
    .signIn-container h2 {
      width: 80%
    }
}

/*=============================*/
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading {
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.loading-container .loading:nth-child(1) {
    animation-delay: 0s;
}
.loading-container .loading:nth-child(2) {
    animation-delay: 0.2s;
}
.loading-container .loading:nth-child(3) {
    animation-delay: 0.4s;
}
.loading-container .loading:nth-child(4) {
    animation-delay: 0.6s;
}


div#warning-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70dvh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/*===================*/
/* Modal container */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

/* Modal content */
.modal-content {
    background: rgba(0,0,0, 0.5); /* semi-transparent white */
    backdrop-filter: blur(15px); /* frosted glass effect */
    border-radius: 15px;
    padding: 0px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* subtle shadow */
    border: 1px solid rgba(255, 255, 255, 0.3); /* border with transparency */
    color: #fff;
    animation: slideIn 0.5s forwards;
}

/* Modal header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
}

.modal-header p {
    font-size: 18px;
    color: #fff;
}

.modal-header .close {
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

/* Modal body */
.modal-body {
    padding: 10px;
    text-align: center;
}

.modal-body h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.modal-body p {
    font-size: 16px;
    margin: 5px 0;
    color: #fff; /* Lighter text color for details */
}

.modal-body .gotoHome {
    margin: 20px 0;
}

.modal-body .gotoHome a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

.modal-body .gotoHome a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/* Fade-in animation for modal */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Slide-in animation for modal content */
@keyframes slideIn {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

/* Fade-out animation for modal */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Slide-out animation for modal content */
@keyframes slideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50px);
    }
}

/* Hide class for closing modal */
.modal.hide {
    animation: fadeOut 0.5s forwards;
}

.modal-content.hide {
    animation: slideOut 0.5s forwards;
}

/* Optional: hover effects for improved user interaction */
.modal-header .close:hover {
    color: #ff0000;
}

.modal-footer{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.modal-footer button{
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 6px 15px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.modal-footer button:hover{
    background-color: rgba(255, 255, 255, 0.3);
}